<header [class.headerDark]="darkMode">

  <img *ngIf="!darkMode" routerLink="/" src="assets/img/menu.png">
  <img *ngIf="darkMode" routerLink="/" src="assets/img/menu-dark.png">

  <div [class.darkLinks]="darkMode">

    <a routerLink="/"> Start </a>
    <a routerLink="/" translate> About Me </a>
    <a routerLink="/" translate> Projects </a>
    <a routerLink="/imprint" translate> Imprint </a>
    <a (click)="translate.use('de');"> <img class="german-btn" src="../../assets/img/german.png"> </a>
    <a (click)="translate.use('en');"> <img class="english-btn" src="../../assets/img/english.png"></a>
    
  </div>

</header>